<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.utils">

    <application>
        <provider
            android:name=".ContextProvider"
            android:authorities="${applicationId}.context_provider"
            android:exported="false" />

        <activity
            android:name=".Permissions$PermissionsActivity"
            android:theme="@style/Theme.NoDisplay" />
        <activity
            android:name=".Activities$ResultActivity"
            android:theme="@style/Theme.NoDisplay" />
    </application>
</manifest>
